 body { 
        font-family: sans-serif; 
        background-color: #f44336; 
        color: white; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 100vh;
        margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

#continue {
    /* color:blue;  */
    font-weight: bold;
    cursor:pointer; 
    text-decoration:underline;
}

#whitelist {
    /* color:blue;  */
    font-weight: bold;
    cursor:pointer; 
    text-decoration:underline;
}

p{
    font-size: medium;
}